<h2>{{blog.title}}</h2>
<p><img src={{blog.image}} alt={{blog.title}}></p>
<h3>By: {{blog.author}}</h3>
<h4>Category: {{blog.category}}</h4>
<h4>Date: {{blog.time}}</h4>
<p>Article: {{blog.text}}</p>

<button {{action 'delete' blog}} class="btn btn-info">Delete</button>
